body {
  background-color: burlywood;
}





textarea {
  width: 60%;
  height: 10%;
  resize: none;
  
}

button {
  width: 200px;
  height: 30px;
  cursor: pointer;
  border: ;
  font-family: ;
  margin-bottom: 10px;
}

.comment-box {
  width: 60%;
  height: 60%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.comment-box p {
  font-family: serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
}

.edit-form {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.edit-form button {
  width: 50px;
  height: 25px;
  cursor: pointer;
  border: ;
  font-family: ;
  margin-bottom: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
}

.edit-form button:hover {
  opacity: 1;
}


.delete-form {
  position: absolute;
  bottom: 0px;
  left: 55px;
}

.delete-form button {
  width: 50px;
  height: 25px;
  cursor: pointer;
  border: ;
  font-family: ;
  margin-bottom: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
}

.delete-form button:hover {
  opacity: 1;
}
